.about-section{
    padding: 20px;
     background-color:white ;

    h4{
        font-size: 30px;
        color:black;
    text-align: center;
    
    }
    p{
        font-size: 15px;
        color: black;
    }
    img{
        height: 40vh;
        width: 40%;
    }
    
}
           
