.hero-section{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:#F3FFFD ;

    height: 80vh;
    
    padding: 10px 0;
   background: linear-gradient(#0f0f0fb3), url("../../../src/assets/images/backgroundimage1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    center{
        // h1{
        //     font-size: 50px;
        //     color:red;
        // }

       .animated-text{
        font-size:40px ;
        font-weight:600 ;
        color:white ;
        opacity: 0;
        transform:translateY(20px) ;
        animation:fadeSlide 1.6s ease-out forwards ;
       }
       @keyframes fadeSlide {
        to{
          opacity: 1;
          transform: translateY(0);
        }
        
       }
        }
        .social-icon {
  color: #fff;
  transition: 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

    }

    
    

