.contact-section{
     background-color:white;
 
   
    h4{
        color:  black;
        font-size: 30px;
        text-align: center;
        padding: 5px;
        
        
    }
    p{
        font-size: 25px;
        text-align: center;

    }
    span{
        color:  black;
        font-size: 18px;
        margin: 10px;
        
    }
.contact-title{
    font-size: 26px;
    font-weight: 600;
    margin-bottom:15px;
}
.social-icons a {
    font-size: 32px;
    color: #00897B;
    margin:0 18px;
}
.social-icons a:hover{
    color: black;
}
.contact-card{
    background: #fff;
    padding: 25px;
    margin-top:30px ;
    border-radius:15px ;
    width:90% ;
    max-width: 500px;
    margin-left:auto ;
    margin-right:auto ;
    box-shadow:0 5px 15px rbba(0,0,0,0.1) ;
}
.contact-card input,
.contact-card textarea{
    width:100% ;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom:15px ;
    font-size:15px ;
    outline:none ;
}
.contact-card input:focus,
.contact-card textarea:focus{
    border-color:  #00897B;
}
.message-btn{
    width: 100%;
    padding:14px ;
    color: white;
    background-color:  #00897B;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;

}

.message-btn:hover{
    background: black;
}
.copy-icon{
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
    text-align: center;
}
.copy-right{
    text-align: center;
    width: 100%;
    padding: 20px 0;
    margin-top: 30px;
    font-size: 20px;

}
p{
    font-size: 15px;
}

}